.filmList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.filmList > * {
	height: 150px;
}

.filmList.wrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 50px 20px;
}

.filmList.wrap > * {
	height: 100%;
}

.filmList::-webkit-scrollbar {
	display: none;
}

.filmListContainer {
	margin: 40px 0px;
}

.filmListContainer h2 {
	margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.filmListContainer {
		margin: 20px 0px;
	}

	.filmList > * {
		height: 100px;
	}
}
