header.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	max-height: 10vh;
	padding: 0 20px;
	background-color: var(--netflix-black);
	color: var(--netflix-white);
}

header.header .header_left,
header.header .header_right {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	height: 100%;
}

header.header .header_left > div,
header.header .header_right > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	height: 100%;
}

header.header .logo {
	width: fit-content;
}

header.header .links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

header.header .links a {
	text-decoration: none;
	color: var(--netflix-white);
	font-size: 0.9em;
}

header.header .links a:hover {
	text-decoration: underline;
}

header.header .profile a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	position: relative;
}
header.header .profile .popup {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--netflix-black);
	color: var(--netflix-white);
	padding: 10px;
	border: 1px solid var(--netflix-white);
	z-index: 1;
	height: 100%;
	width: 100%;
	cursor: unset;
}
