.overlay-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-content {
	background-color: var(--netflix-black);
	color: var(--netflix-white);
	padding: 2em;
	border-radius: 0.5em;
	max-width: 800px;
	width: 100%;
}
