.video-item-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.video-item-list > * {
	height: 150px;
}

.video-item-list.wrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 50px 20px;
}

.video-item-list.wrap > * {
	height: 100%;
}

.video-item-list::-webkit-scrollbar {
	display: none;
}

.video-item-list-container {
	margin: 40px 0px;
}

.video-item-list-container h2 {
	margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.video-item-list-container {
		margin: 20px 0px;
	}

	.video-item-list > * {
		height: 100px;
	}
}
